*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(hwb(0 0% 100%),#545454);
}

.avatar-update-btn::file-selector-button {
  width: 100% ;
  padding: 7px ;
  font-weight: 600 ;
  cursor: pointer ;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px !important;
  color: green !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif !important;
  padding: 7px 20px !important;
  text-align: center !important;
  text-decoration: none !important;
  transition: all 250ms !important;
  border: 0 !important;
  font-size: 16px !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
}

.avatar-update-btn::file-selector-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px !important;
  transform: scale(1.05) rotate(-1deg) !important;
}
.bg{
   background-color: #000 !important;
}
.bg1{
  background-color: #024515d4 !important;
}
.bg2{
  background-color: #eaeaeaab !important;
}
/*Input Bg*/
.bg3{
  background-color: #eaeaeaab !important;
  color: #000 !important;
}
.bg4{
  background-color: #024515d4 !important;
  color: #000 !important;
}
/**Account Bg*/
.bg5{
  background-color: #024515d4 !important;
}
.bg6{
  background-color: #F3FF90 !important;
}
/* Aside Bg*/
.bg7{
  background-color: #018d0ae6 !important;
}

Input , input,Textarea{
  background-color: #EBD3F8 !important;
 
}


/* Button For All Action */
.btn {
  background-color: #000000 !important;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px !important;
  color: green !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif !important;
  padding: 7px 20px !important;
  text-align: center !important;
  text-decoration: none !important;
  transition: all 250ms !important;
  border: 0 !important;
  font-size: 16px !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
}

.btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px !important;
  transform: scale(1.05) rotate(-1deg) !important;
}
/*Message Bg */
.mbg{
  background-color: #eaeaeaab !important;
}